@import 'colors.scss';

.bg-curriculo{
    background-color: $primary-color;
    padding-bottom: 50px;
}
.bg-pdf{
    width: 100%;
    height: 100%;
}

#curriculo{
    button{
        background-color:transparent;
        border:2px solid $bg;
        display:inline-block;
        cursor:pointer;
        color: $bg;
        font-size:12pt;
        font-weight:bold;
        padding: 10px 40px;
        padding-bottom: 10px;
        text-decoration:none;
        
    }
    button:hover{
        background-color:$bg;
        border-color: $bg;
        color: $primary-color
    }
    button:active{
        position:relative;
        top:1px;
    }
    div {
        padding: 20px 0px 20px
        
    }

}


